div.container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    gap: 5px;
}

div.caixa1 {
    background-color: red;
    grid-area: 1 / 1 / 2 / span 4;
}

div.caixa2 {
    background-color: #00ff00;
    grid-area: 2 / 1 / span 2 / 3 ;
}

div.caixa3 {
    background-color: #0000ff;
    grid-area: 2 / 3 / span 2 / 5 ;
}